@{
    ViewData["Title"] = "Home Page";
}
    @using Microsoft.AspNetCore.Mvc.Localization
    @inject IViewLocalizer Localizer


<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <label class="lead">@Localizer["Welcome back"]</label>
    }
    else
    {
        <label class="lead">@Localizer["You need to log in to start working"]</label>
    }
</div>
