@model CoworkingListViewModel


<table class="table table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cow in Model.Coworkings)
            {
                <tr>

                </tr>
            }
    </tbody>
</table>