@model CoworkingListViewModel

@{
    Model.WhereRedirectBack = "Coworking/CoworkingsList";
}


    <a class="" asp-controller="Coworking" asp-action="CreateCoworking">Add coworking</a>


@{
    Html.RenderPartial("DisplayCoworkingList", Model);
}